.footer {
  margin-top: 80px;
  background-color: hsl(194, 85%, 82%);
  border-radius: 20px;
  padding: 80px 0 20px 0;
}

.footer_wrap {
  text-align: center;
  justify-content: center;
  display: flex;
}
.footer_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer_menu a {
  font-size: 18px;
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: px;
  line-height: 8px;
}
.footer_block {
  color: #000;
}
.networks {
  margin-top: 80px;
  text-align: center;
}

.networks_imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.networks_link {
  cursor: pointer;
  padding: 8px 8px 4px 8px;
}
.networks_img {
  stroke: #181c29;
}
