.nav {
  display: flex;
  justify-content: space-around;
  /* z-index: 2; */
}

.nav_list {
  display: flex;

  align-items: center;
}

.nav_search {
  display: flex;
  align-items: center;
}

.nav_home {
  align-items: center;
  display: flex;
  color: #000;
  font-size: 45px;
}
.nav li {
  padding: 5px 25px;
}
.nav_item a {
  font-size: 18px;
  font-weight: 800;
  color: #000;
}
.nav_item .search {
  color: #0202029d;
}
.search {
  border-radius: 40px;
  cursor: pointer;

  border: #33333365 solid 1px;
  /* margin: -7px; */
  padding: 8px 18px;
  font-size: 15px;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.search input {
  flex-grow: 1;
  border: none;
  outline: none;
}
.material-symbols-outlined {
  height: 18px;
  margin: -4px 0px 0px 15px;
  color: #000;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

/* .search div { */
/* } */

.favorite div {
  background: url("../../img/favorite_icon.svg") no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.shoping_cart div {
  background: url("../../img/shopping_cart_icon.svg") no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.nav_item .sign_in {
  /* background-color: #4c5d96; */
  background-color: #066bc9;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
}
